.button {
  padding: 0.6rem 1.2rem;
  width: 15rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: var(--green);
  box-shadow: inset gold 0px 0px 5px;
  color: gold;
  font-size: 1.2rem;
  display: block;

  cursor: pointer;
  transition: .4s;
}

.button:hover{
  transform: scale(1.1);
}