.main_home{
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_titulo{
  margin-top: 20%;
}

.buttons_wrapper{
  margin-top: 2em;
  display: flex;
  column-gap: 3rem;
}