.main{
    display: grid;
    align-items: center;
    justify-content: center;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    color: #555;
    margin-bottom: 2rem;
}

.quadro {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

.quadro.game-over {
    opacity: 0.8;
}

.celula {
    display: grid;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;

    cursor: pointer;
}

.celula:not(.O):not(.X):hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1)
}

.celula.O, .celula.X, .game-over .celula {
    cursor: not-allowed;
}

.celula.O {
    background-color: var(--O-color);
}

.celula.X {
    background-color: var(--X-color);
}

footer {
    text-align: center;
}

.mensagem-vencedor {
    margin: 2rem;
}

.mensagem-vencedor span.O {
    color: var(--O-color);
}

.mensagem-vencedor span.X {
    color: var(--X-color);
}

.mensagem-vencedor span.E {
    color: var(--E-color);
}

button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    background-color: var(--green);
    color: white;
    font-size: 1.2rem;

    cursor: pointer;
}