.main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.board_cabecalho {
  display: flex;
  margin-left: 25vw;
  margin-right: 25vw;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 2rem;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  color: #555;
}

.quadro {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
}

.quadro.game-over {
  opacity: 0.8;
}

.celula {
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;

  cursor: pointer;
}

.celula:not(.O):not(.X):hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.celula.O,
.celula.X,
.game-over .celula {
  cursor: not-allowed;
}

.celula.O {
  background-color: var(--O-color);
}

.celula.X {
  background-color: var(--X-color);
}

footer {
  text-align: center;
}

.mensagem-vencedor {
  margin: 2rem;
}

.mensagem-vencedor span.O {
  color: var(--O-color);
}

.mensagem-vencedor span.X {
  color: var(--X-color);
}

.mensagem-vencedor span.E {
  color: var(--E-color);
}

button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: var(--green);
  color: white;
  font-size: 1.2rem;

  cursor: pointer;
}

.corpo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  /* row-gap: 5rem; */
}

.jogador1{
  /* background-color: ; */
  font-size: larger;
  padding: 10px;
  /* border-radius: 5px; */
}


.jogador2 {
  /* background-color: ; */
  font-size: larger;
  padding: 10px;
  /* border-radius: 5px; */
}

.modalBg {
  z-index: 9;
  background-color: #00000047;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContent {
  background-color: white;
  z-index: 999;
  width: 30vw;
  height: 30vh;
  position: fixed;
  align-self: center;
  justify-self: center;
  left: 35vw;
  top: 35vh;
}

.mensagem-bot {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.loading {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 10px solid silver;
  border-top-color: var(--green);
  animation: loading-circle 1s linear infinite;
}

@keyframes loading-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}