:root {
    --O-color: #2196f3;
    --X-color: #f44336;
    --E-color: #777;

    --green: #4caf50;
}

#root{
  height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-color: #eee;
}