:root {
  --O-color: #1c70b4;
  --X-color: #631510;
  --E-color: goldenrod;

  --green: rgb(14, 80, 55);
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pixelify Sans", cursive;
  height: 100vh;
  background-color: #eee;
}
